.quoteRandom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 5rem;
    column-gap: 5rem;
    height: 20rem;
    .quoteRandom__info{
        flex-basis: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .quoteRandom__info--false{
        p{
            font-size: 3rem;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.452);
            }
        }
    }
    .quoteRandom__info--true{
        padding: 3rem 0;
        background-color: #66B22E;
        border-radius: 10px;
    }
    .quote{
        color: #fff;
        font-size: 2.2rem;
        text-align: center;
    }
    .author{
        color: #e1e1e1;
        font-size: 1.3rem;
    }
    .btn--quoteRandom{
        flex-basis: 20%;
        align-items: center;
    }
}